
.leaders
{
	.container
	{
		.title
		{
			font-size: 30px;
    		font-weight: bolder;
		}
		.underline
		{
			width: 100px;
		    height: 3px;
		    background-color: #f08080;
		    border-radius: 30px;
		    margin: 0 auto;
		}
		.row
		{
			.c
			{
				background-color: #010206 ;
				border-radius: 10px ;
                &:after
                {
                    content: "" ;
                    position: absolute ;
                    background: linear-gradient(90deg, rgba(0,13,30,1) 0%, rgba(241,128,128,1) 100%);
                    z-index: -1 ;
                    border-radius: 10px ;
                    top: -1px ;
                    left: -1px ;
                    right: -1px ;
                    bottom: -1px ;
                }
                .card
                {
                	.c-header
                	{
                		.titles > *
                		{
                			font-weight: bolder;
                		}
                	}
                	.c-footer
                	{
                		.card-link
                		{
                			i
                			{
                				color: #f08080 ;
                				font-size: 25px ;
                				transition: 0.3s ;
                				&:hover
                				{
                					transform: scale(1.3);
                					color: white;
                				}
                			}
                		}
                	}
                }
			}
		}
	}
}