.awards
{
	.container
	{
		.c2
		{
			.title
			{
				font-size: 30px ;
	        	font-weight: bolder;
			}
			.underline
			{
				width: 50px ;
			    height: 3px ;
			    background-color: #f08080 ;
			    border-radius: 30px ;
			}
			.link
			{
				a
				{
					color: #f08080  ;
					text-decoration: none;
					font-weight: bolder;
					transition: 0.3s ;
					&:hover
					{
						color: white;
					}
				}
			}
		}
	}
}